       <footer class="container">
            <p>Created by Bryn Price, Copyright {{getCurrentYear}}</p>
        </footer>
    

<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDGJ9S5UFFUXDFM1vyj7aTonYBSxyh100g",
    authDomain: "waywardstar-f02dc.firebaseapp.com",
    databaseURL: "https://waywardstar-f02dc.firebaseio.com",
    projectId: "waywardstar-f02dc",
    storageBucket: "",
    messagingSenderId: "951024697406"
  };
  firebase.initializeApp(config);
</script>

