<h3>Log In</h3>


<input class="form-control" type="text" id="username" placeholder="Username"><br>
<input class="form-control" type="password" id="password" placeholder="Password"><br>

<input class="btn btn-primary" type="submit" value="Log In">

