<!DOCTYPE html>
<html>
    {{> head}}
    
    
    
    <body>
        {{> header}}
        <div class="bg2">
            
            
            
            
            <div class="container">
                
                <h1 class="contract_title">Contracts</h1>
                    <h3 class="contract_subtitle">2 Contracts Available</h3>
                    
                
                
                <div class="container text">
                    <div class="contractback">
                        <h3 class="contract_label">The Thavnairian Silks</h3>
                        <img src="https://i.imgur.com/qiFJOyQ.png" class="contract_image">
                        <p><strong>Posted By:</strong> <span class="supplier">Steinn Wynfyd</span></p>
                        <div class="subtext"><p><strong>Word has it pirate did not deliver silks they were hire to do.</strong> Our contact in Ul'dah, Steinn, has heard complaint from one of his fellow businessmen that a band of pirates who were suppose to deliver their Thavnairian silks never made it to port, the businessmen suspect foul play. Steinn has requested the crew to recover these. </p><p><strong>The task?</strong> To return the Thavnairian silks. We were the pirate crew hired, we were attacked and the delivery never took place.</p> <h4>How To Run This Contract</h4><p><ul>
                            <li>Somebody would need to RP the merchant NPC who requested the silks</li>
                            <li>We need a means to transport the silk. The ship is in for repairs.</li>
                            <li>We could choose to sell the silks to the highest bidder</li>
                            <li>We could choose to honour the job and return said silks</li>
                            <li>We could give some of the silks back but keep some for ourselves, "they were lost at sea"</li>
                            <li>During our transport of said silks, we may end up coming across others who would like to acquire them.</li>
                            <li>The Maelstrom could show up and interfere with random inspections and query the silks.</li>
                            <li>The crew and DM can handle this as preferred.</li>
                            </ul></p></div>
                        
                        <h4 class="reward_label">Reward:</h4>
                        <div class="reward">
                            <ul><li>30,000gil for the full set</li>
                                <li>15,000gil for a partial recovery</li>
                                <li>Between 20,000 and 45,000 gil if sold to the highest bidder. A little RNG haggling would be need to determine the result</li>
                                <li>0 to 50 rolls of Thavanirian Silk depending on choice to keep</li></ul>
                                
                        </div>
                    </div>
                
                    </br>
                </div>
                
                    
                <div class="container text">
                    <div class="contractback">
                        <h3 class="contract_label">The First Challenge: Mahi Mahi Coast </h3>
                        <h4>[Unavailable until terms established with Kahkol]</h4>
                        <img src="https://i.imgur.com/Gc0erAv.png" class="contract_image">
                        <p><strong>Posted By:</strong> <span class="supplier">The Kahkol Pirates</span></p>
                        <div class="subtext"><p><strong>A true pirate knows the sea.</strong> Limsa Lominsa has many proficient fishermen, but is this a skill that Limsan pirates overlook? To find a specific catch takes planning, co-ordination and the ability to understand and adapt to one's environment.</p><p><strong>The task?</strong> To fish a <a href="https://ffxiv.gamerescape.com/wiki/Mahi-Mahi">Mahi-Mahi</a>.</p> <h4>How To Run This Contract</h4><p><ul>
                            <li>A fisher is needed for the job</li>
                            <li>Follow the link provided for Mahi-Mahi to get information on how to fish it.</li>
                            <li>This could possibly go one of two ways:</li>
                            <li>Either it is a friendly fishing RP centered around catching this fish.</li>
                            <li>Or have Kahkol present to disrupt their fishing in an attempt to win, or crew attempts to disrupt them. A bit of friendly sabotage never hurt anybody.</li>
                            <li>Report back to Saefinn with information on how the RP went. Saefinn will feedback any success or failure of the Kahkol</li>
                            </ul></p></div>
                        
                        <h4 class="reward_label">Reward:</h4>
                        <div class="reward">
                            <ul><li>20,000gil</li><li>Kahkol Trophy</li></ul>
                        </div>
                    </div>
                
                    </br>
                </div>
                
        
        
                
        
                
            </div>
        </div>
        
        
        {{> footer}}
    </body>
    
</html>
