<!DOCTYPE html>
<html>
    {{> head}}
    
    
    
    <body>
        {{> header}}
        <div class="bg2">
            <div class="container bg-light">
                
                    <h1>Contracts</h1>
                    <p></p>
                <div class="container text-light ">
                    <div class="contractback">
                        
                        <h3>Banditsnatching From An Ishgardian Noble</h3>
                        <img src="https://i.imgur.com/FqZGkXk.png" class="contract_image">
                        <p><strong>Posted By:</strong> The Brume</p>
                        <p class="subtext"><strong>Lord Bandicheux and his wife</strong> often walk through areas of The Brume talking down to all of the locals and the locals have had enough and want pay back. They have a family heirloom, a pricey one at that and willing to share the earnings from it from any who would steal it from them. They are out of town for the coming weeks.</p>
                        
                        <h4>Reward:</h4><ul><li>30,000gil</li><li>Self-satisfaction</li></ul>
                        
                        
                        
                    </div>
                
                    </br>
                    
                </div>
                
                
            </div>
        </div>
        
        
        {{> footer}}
    </body>
    
</html>
